@charset "utf-8";
/* CSS Document */
p {
	color: darkcyan;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 16px;
	line-height: 20px;
	width: 600px;
	background-color: mintcream;
	padding: 20px;
}
.paragraf_2 {color: darkmagenta; background-color: rgba(251,255,233,0.80)}
.novi_blok{
	background-color: rgba(255,207,253,0.56);
	padding: 20px;
	margin: 20px;
	width: 60%;
}
h1 {
	font-family:"AnaKuznin1";
	src: url("font/AnaKuznin.ttf");
	color:indigo;
}
h2 {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: darkviolet;
}
h3 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: darkgreen;
	font-size: 30px;
}

span {color: rgba(228,96,215,1.00);}
.pozadina{
	background-image: url("slike/slika.jpeg");
}
.drugapozadina {
	background-image: url("slike/preuzmi (2).jpg");
}
img{
	height: 400px;
}
ul{
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
li{
	display: inline;
	background-color: mistyrose;
	padding: 10px;
	border: 2px solid hotpink;
}
li:active{
	background-color: hotpink;
}
li a{
	color: crimson;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 18px;
}
li a:link{
	text-decoration: none;
}
li a:hover{
	text-decoration: underline;
}